/* @import './base.css'; */

*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
  background-color: rgba(0, 0, 0, 0.379) !important;
}
